body {
    color: antiquewhite;
    background-color: black;
    margin: 50px;
    font: 400 26px / 1.5 Georgia;
}
ol {
    text-align: justify;
    text-shadow: 2px 2px black;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#block1 {
    background-color: rebeccapurple;
    color: white;
}

#block2 {
    background-color: #2d8700;
    color: white;
}

#block3 {
    background-color: #be3f00;
    color: white;
}
